<div class="container">
  <div class="item-container">
    <div *ngFor="let course of favoriteCourses" class="item">
      <img [src]="course?.img" class="mb-2">
      <ul>
        <li>
          <div class="sec-1">
            <span>
              <img class="user-img" [src]="course?.img" [alt]="course?.label">
              <span>name: {{course?.id}}</span>
            </span>
            <span class="lable-card">{{course?.label}}</span>
          </div>
          <p>description: {{course?.description}}</p>
          <div class="sec-1 sec-2">
            <span>price: {{course?.price}}</span>
            <span>duration: {{course?.duration}}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>






  
