

        <div class = "search-container vertical-space">
          <mat-form-field appearance = "outline" class = "w-full ">
            <input matInput placeholder = "{{'SEARCH'|translate}}" [(ngModel)] = "term">
          </mat-form-field>
        </div>

        <div class="item-container">
        <div  *ngFor = "let course of favoriteCourses | search : term" class="item">
          <img [src]="course?.img">
          <span>
            {{course?.label}}
          </span>

        </div>
        </div>







  
