<div class="header-menu container">
  <div>
    <img src="../../../../assets/images/common/logo-s.png" alt="logo" width="180px">
  </div>
  <div class="menu-container">
    <ng-container *ngFor="let menu of topMenuItems">
      <ng-container *ngIf="!menu.isDisabled">
        <a class="header-menu-item" *ngIf="!menu.isAbsolute && (menu.id !== 'analysis' || isAuthorized)"
          [routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()" [routerLink]="menu.route"
          routerLinkActive="header-menu-item-active">

          <span class="item-menu-l">
            {{menu.label }}

          </span>
        </a>

      </ng-container>
    </ng-container>

  </div>
  <div *ngIf="!isAuthorized" class="button-container">
    <button mat-button class="text-dark-500 login-btn" (click)=selectSignIn(true)>Sign In</button>
    <button mat-button class="text-dark-500 bg-light-500 register-btn" (click)=selectSignIn(false)>Sign Up</button>
  </div>

  <div *ngIf="isAuthorized" class="header-theme ml-4" data-title="{{'LOGOUT'|translate}}">
    <mat-icon svgIcon="logout-mid" (click)="logOut()"></mat-icon>
  </div>

</div>