<!-- <app-router-progress [loading] = "showProgressBar"></app-router-progress> -->
<div class="header" [ngClass]="{aa:forceThemeShow && isMobileView}">
  <div class="container">
    <div class="navbar">
      <ul class="navbar-contact-us">
        <li>all course 28% of for <span class="text-green-700 user-name">Lorem, ipsum.</span></li>
        <li><img src="../../../../assets/images/common/arow-right.svg" width="37px" alt="arowight"></li>
        <li>
          <span class="text-green-700 d-i-flex"><mat-icon>phone</mat-icon></span>
          <span class="phon-number">(970) 262 14 13</span>
        </li>
        <li>
          <span class="text-green-700 d-i-flex"><mat-icon>email</mat-icon></span>
          <span class="email-address">test@gmail.com</span>
        </li>
        <li><img src="../../../../assets/images/common/left-arrow.svg" width="37px" alt="arowleft"></li>
      </ul>
      <ul class="navbar-social-media">
        <li *ngFor="let item of socialItems ">
          <a href="#">
            <mat-icon svgIcon="{{item?.iconClass}}"></mat-icon>
          </a>
        </li>
      </ul>
    </div>
    <!-- <ng-container>
      <div class="header-left-settings">
        <div class="header-theme" (click)="changeTheme()" data-title="{{'THEME'|translate}}">
          <mat-icon svgIcon="{{theme=='dark'?'sun-mid':'moon-mid'}}"></mat-icon>
        </div>
      </div>
    </ng-container> -->
  </div>
</div>