@import "../../../../assets/scss/common";
.download-app{
  .app-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  padding: 50px;
  .img-app-container {
    display: flex;
    img{
      max-width: 150px;
      border-radius: 5px;
      height: 40px;
      margin-left: 15px;
      box-shadow: -3px 3px 4px 1px #c8e6d43b;
    }
  }
  .des-app{
    p{    color: #fff;
      font-size: 32px;
    }
    span {
      color: #fff;
      font-size: 16px;
    }
  }
}
.download-app ,.app-section{
  background-color: #529456;
  color: #000;
}
.footer{
  .footer-contact-us{
    margin-bottom: 20px;
  }
  .logo-footer{
    margin-bottom: 18px;
  }
  a{
    color: #000;
  }
  background-color: #e7f8ee;
  ul.footer-contact-us{
    font-weight: 500;
    p{
      color: #529456;
      margin-bottom: 20px;
    }
    h6{
      font-weight: 600;
      font-size: 18px;
    }
    .contact-us-icon{
      margin-right: 10px;
    }
    .footer-bottom{
      background-color: #212832;
    }
}
.footer-social-media{
  display: flex;
  li{
      margin-right: 3px;
      padding-right: 3px;
  }
}
.copy-w{
  background-color: #212832;
}
}
.bg-footer{
  background-color: #e7f8ee;
}



.footer-inner {
  padding: 3*$vertical-space 0 $vertical-space;
  display: flex;
  flex-wrap: wrap;
}

.footer-right {
  display: flex;
  flex-direction: column;

  > img {
    margin-bottom: $vertical-space;
  }

  > h6 {
    @extend %title-2-bold;
    margin-bottom: $vertical-space;
    width: 100%;
    color: #fff;
  }

  > p {
    width: 100%;
    @extend %caption-2-medium;
    margin-bottom: $vertical-space-large;
  }
}

.footer-right-links {
  display: flex;
  align-items: center;

  button {
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 30px !important;
    @extend %body-2-medium;

    &:first-child {
      margin-left: $vertical-space;
      color: $violet-light-2;
      border-radius: $radius;
      background: #fff;

    }
  }
}

.footer-cert {
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 10px;
}

.footer-left-item {
  display: flex;
  flex-wrap: wrap;

  > h3 {
    @extend %body-1-medium;
    margin-bottom: $vertical-space;
    width: 100%;
    color: #000;
  }

  > a {
    width: 100%;
    display: flex;
    color: #000;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: $vertical-space;
    @extend %caption-1-regular
  }
}

.footer-bottom {
  p{
    color: #bababa;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #212832;
  height: 100%;
  padding: 10px 0;
  .copy-w{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ul{
    display: flex;
    li{
      margin-right: 14px;
      padding: 5px 5px 5px 0;
      position: relative;
      &:first-child::before{
        display: none;
      }
      &::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        display: inline-block;
        background-color: #bababa;
        border-radius: 100%;
        top: 12px;
        left: -8px;
    }
      a{
        color: #bababa;
      }
  
    }
    
  } 
}

.copyright{
  @extend %flex-center;
  p {
    color: #fff;
    @extend %caption-2-regular
  }
}

.footer-left {
  display: flex;
  flex-wrap: wrap;
  .last-col{
    display: inline-block;
    p{
      width: 100%;
    display: flex;
    color: #000;
    font-weight: 500;
    margin-bottom: 20px;
    font-variation-settings: "wght" 400;
    font-size: 14px;
    line-height: 24px;

    }
  }
  .btn-sub{
    background-color: #529456;
    color: #fff;
  }
  input{
    height: 40px;
    border-radius: 6px;
    width: 100%;
    padding-left: 10px;

  }
}

.footer-social {
  @extend %flex-center;

  > a {
    color: #fff;
    margin: 0 $vertical-space-small;
    @extend %flex-center;
    @extend %circle;
    width: $icon-size-large;
    height: $icon-size-large;
    border: 2px solid #fff;

    ::ng-deep {
      svg{
        path {
          &:not([stroke]){
            fill: #fff;
          }


          &[stroke]{
            stroke: #fff;
          }
        }
        circle{
          stroke: #fff;
        }
      }

    }

  }
}
.footer-center{
  display: flex;
  flex-direction: column;
}
.footer-bottom-right{
  display: flex;
  flex-direction: column;

  a{
    color: #fff;
    @extend %caption-2-medium;
    margin-bottom: $vertical-space-x-small;
  }
}

//dark mode styles
:host-context(.dark) {
  .footer-right {
    color: #fff;
  }
}
